<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ExaminationBar</display-name>
	<servlet>
		<description></description>
		<display-name>TeacherServlet</display-name>
		<servlet-name>TeacherServlet</servlet-name>
		<servlet-class>com.bees.teachers.servlet.TeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherServlet</servlet-name>
		<url-pattern>/TeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>_ClassServlet</display-name>
		<servlet-name>_ClassServlet</servlet-name>
		<servlet-class>com.bees.classes.servlet._ClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>_ClassServlet</servlet-name>
		<url-pattern>/_ClassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>testInfoServlet</display-name>
		<servlet-name>testInfoServlet</servlet-name>
		<servlet-class>com.bees.test_infos.servlet.testInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testInfoServlet</servlet-name>
		<url-pattern>/testInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>manageServlet</display-name>
		<servlet-name>manageServlet</servlet-name>
		<servlet-class>com.bees.manage.servlet.manageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inputservlet</servlet-name>
		<servlet-class>com.bees.inputinfo.servlet.inputservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manageServlet</servlet-name>
		<url-pattern>/manageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inputservlet</servlet-name>
		<url-pattern>/inputservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>fixTabServlet</display-name>
		<servlet-name>fixTabServlet</servlet-name>
		<servlet-class>com.bees.others.fixTabServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fixTabServlet</servlet-name>
		<url-pattern>/fixTabServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>androidServlet</display-name>
		<servlet-name>androidServlet</servlet-name>
		<servlet-class>com.bees.androidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>androidServlet</servlet-name>
		<url-pattern>/androidServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>pushServlet</display-name>
		<servlet-name>pushServlet</servlet-name>
		<servlet-class>com.bees.teachers.servlet.pushServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pushServlet</servlet-name>
		<url-pattern>/pushServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>onlineFilter</display-name>
		<filter-name>onlineFilter</filter-name>
		<filter-class>com.bees.others.onlineFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>onlineFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>
			login.jsp
		</welcome-file>
	</welcome-file-list>
</web-app>